.manager {
  margin-top: 30px;
  padding: 0 48px;
}

.manager__header {
  display: flex;
  justify-content: space-between;
}

.manager-header__search {
  display: flex;
}

.manager-header__search > input {
  font-size: 1.6rem;
  width: 360px;
  padding: 0 8px;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.manager-header__search > input:focus {
  outline: 1px solid #11676a;
}

.manager-header__search > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  font-size: 1.2rem;
  padding: 2px 4px;
  border: none;
  border-radius: 8px;
  background-color: #11676a;
  color: #fff;
}

.manager-header__insert {
  font-size: 1.4rem;
  padding: 8px 16px;
  background-color: #11676a;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.manager-header__search > button:hover,
.manager-header__insert:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}

.manager__table {
  margin-top: 24px;
  width: 100%;
  border-collapse: collapse;
}

.manager__table th,
.manager__table td {
  font-size: 1.3rem;
  border: 1px solid #ccc;
  padding: 16px 8px;
}

.manager__table th {
  color: #11676a;
}

.manager__table td {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.manager__table td .material-symbols-outlined {
  font-size: 1.8rem;
  cursor: pointer;
  color: rgb(20, 179, 20);
}

.manager__table td .material-symbols-outlined:hover {
  opacity: 0.6;
}

.manager__table td:nth-child(2) {
  text-align: left;
}

.modal-manager.open {
  display: flex;
}

.modal-manager {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-manager__container {
  position: relative;
  width: 600px;
  height: 625px;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  overflow: auto;
}

.modal-manager-container__close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 8px;
}

.modal-manager-container__close > span {
  font-size: 2.2rem;
  opacity: 0.9;
}

.modal-manager-container__close:hover > span {
  opacity: 0.5;
  cursor: pointer;
}

.modal-manager-container__content {
  font-size: 1.4rem;
  padding: 24px;
}

.modal-manager-container-content__heading {
  font-size: 1.8rem;
  color: #11676a;
  margin-bottom: 20px;
}

.modal-manager-container__content > label {
  margin-top: 24px;
  display: block;
  color: rgba(0, 0, 0, 0.9);
}

.modal-manager-container__content > input,
.modal-manager-container__content > select {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.7);
}

.modal-manager-container__content > input:focus,
.modal-manager-container__content > select:focus {
  outline: 1px solid #11676a;
}

#modal-manager-container-content-id {
  background-color: #e0dfdf;
}

.modal-manager-container-content__status {
  margin-top: 14px;
  display: flex;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.7);
}

.modal-manager-container-content__status > label,
.modal-manager-container-content__status input {
  cursor: pointer;
}

.modal-manager-container-content__status > label {
  display: flex;
  align-items: center;
}

.modal-manager-container-content__status input {
  margin-right: 4px;
}

.modal-manager-container-content__btn {
  margin-top: 28px;
  width: 100%;
  padding: 8px;
  font-size: 1.4rem;
  background-color: #11676a;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.modal-manager-container-content__btn:hover {
  background-color: #ccc;
  color: #000;
  cursor: pointer;
}
